.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin-top: -5%;

  }
  
  .formContainer {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .label {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label span {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  .inputField {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .inputField::placeholder {
    color: #aaa;
    font-size: 14px;
  }
  
  .inputField:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
  }
  
  .submitButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 1rem auto;
    margin-left: 1rem;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }
  
  .error {
    color: #e74c3c;
    margin-top: 0.5rem;
  }
  
  .registerLink {
    margin-top: 1rem;
    text-align: center;
  }
  
  .registerLink a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .registerLink a:hover {
    text-decoration: underline;
  }
  
  .welcome {
    margin-left: 2rem;
  }